.upper{
	display:none;
}
.image_up{
	width: 50px;
	height:50px;
	position: fixed;
	top: 80%;
	left:95%;
	z-index: 999;
}
.image_up:hover{
	border: 0 solid red;
	border-radius: 30px;
	background-color: rgba(0,0,0,0.3);
}
.main{
	background-color: #f6f2f2;
}
.menu{
	background-color: #313030;
	margin-bottom: 110px;
}
.menu_box{
	height: 100px;
}
.menu_box p{
	display: block;
	text-align: center;
	padding-top: 45px;
	font-size:14px;
	color: white;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.menu_box:hover{
	background-color: #ff3f40;
}
.title{
	/*background-color: red;*/
	height: 360px;
}
.video{
	/*background-color: green;*/	
	height: 460px;
}
.text_title{
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 60px;
	margin-bottom: 45px;
	letter-spacing: 8px;
}
.text_subtitle{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #494848;
	margin-bottom: 65px;
}
.but_contact{
	padding: 20px 65px auto;
	width: 230px;
	height: 55px;
	background-color: #ff3f40;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	border: 0px;
	border-radius: 8px;
	color:white;
}
.but_contact:hover{
	background-color: white;
	color: #ff2d2d;
	border: 3px solid #ff2d2d;
}
button:focus {
outline: none !important;
}
input:focus {
outline: none !important;
}
textarea:focus {
outline: none !important;
}
.video_content{
	background-color: #c4c0b1;
	width: 100%;
	height: 350px;
	box-shadow: 0 0 60px 3px rgba(0,0,0,0.3);
	position: relative;
}
.vid{
	position: absolute;
	display: block;
	left:45%;
	top:45%;
	margin-right: auto;
}
.block_2_slider{
	display:none;
}
.block_2{
	margin-top: 115px;
	margin-bottom: 220px;
}
.title_block_2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 65px;
}
.subtitle_block_2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.but_learn{
	width: 230px;
	height: 55px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	background-color: white;
	border: 2px solid #ff3f40;
	border-radius: 8px;
	color:#ff3f40;
	margin-top: 60px;
}
.but_learn:hover{
	background-color: #ff2d2d;
	color: white;
	border: 0;
}
.title_icon_1{
	margin-top:32px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
}
.subtitle_icon_1{
	margin-top: 20px;
	margin-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.title_icon_2{
	margin-top:32px;
	margin-top: 24px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 600;
}
.subtitle_icon_2{
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.title_block_3{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 40px;
}
.subtitle_block_3{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.line{
	margin-top: 35px;
	margin-bottom: 90px;
	background-color:#ff3f40;
	width:130px;
	height: 2px;
}
.block_4_slider{
	display:none;
}
.text_block_4{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 50px;
}
.text_block_4:hover{
	color:#ff3f40;
}
.box{
	height: 240px;
	margin-top: 20px;
}
.photo_exmp{
	height:90%;
	width:90%;
}
.photo_exmp.cont:hover{
	height:100%;
	width:100%;
	box-shadow: 0 0 30px 5px rgba(0,0,0,0.5);
}
.title_block_5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 40px;
	margin-top: 150px;
}
.subtitle_block_5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.line_block_5{
	background-color:#ff3f40;
	width:130px;
	height: 2px;
	text-align:left;
	margin: 40px auto 65px 0px;
}
.main_photo{
	height: 450px;
	background-color: #f5f0dd;
	margin-bottom: 110px;
}
.title_block_6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 30px;
}

.title_block_6_2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 30px;
}

.subtitle_block_6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 40px;
}
.photo_worker{
	height: 210px;
	background-color: #f5f0dd;
	margin-top: 60px;
	position: relative;
}
.social_web{
	display:inline;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
	margin-right: 30px;
}
.worker{
	height: 100%;
	width: 100%;
	position: relative;
}
.text_on_photo_worker{
	position: absolute;
	left:0;
	top:76%;
	width:100%;
	height: 50px;
	background-color: #7a786e;
	display:none;
}
.text_on_worker{
	color:white;
	text-align: center;
	font-size: 20px;
}
.photo_worker.worker_1:hover .text_on_photo_worker{
	display:block;
}
.photo_worker.worker_2:hover .text_on_photo_worker{
	display:block;
}
.photo_worker.worker_3:hover .text_on_photo_worker{
	display:block;
}
.photo_worker.worker_4:hover .text_on_photo_worker{
	display:block;
}
.block_7{
	background-color: #f6f2f2; 
}
.title_block_7{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 45px;
	margin-bottom: 45px;
	color:white;
	margin-top: 140px;
	text-align: center;
}
.subtitle_block_7{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 40px;
	color:white;
	text-align: center;
}
.inp_block_7{
	width:100%;
	height: 70px;
	border: 0 solid white;
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-left: 30px;
}
.subscribe{
	height: 70px;
	width: 100%;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	background-color: #ff2d2d;
	border:0 ;
	border-radius: 8px;
	color: white;
	margin-bottom: 140px;
}
.subscribe:hover{
	background-color: rgba(0,0,0,0.6);
	color: #ff2d2d;
	border: 3px solid #ff2d2d;
}
.title_block_8{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 40px;
	margin-top: 100px;
}
.subtitle_block_8{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.line_block_8{
	background-color:#ff3f40;
	width:130px;
	height: 2px;
	text-align:left;
	margin: 40px auto 65px 0px;
}
.box_1{
	height: 40px;
	background-color: red;
}
.box_2{
	height: 40px;
	background-color: red;
}
.block_7{
	background-image: url(../img/сity.jpg);
}
.inp_name_block_9{
	width: 100%;
	height: 60px;
	background-color: #e5e5e5;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-left: 50px;
	border: 0;
	border-radius: 8px;
}
.inp_mail_block_9{
	width: 100%;
	height: 60px;
	background-color: #e5e5e5;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-left: 50px;
	border: 0;
	border-radius: 8px;
	margin-bottom: 50px;
}
#inp_text_block_9{
	width: 100%;
	height: 250px;
	background-color: #e5e5e5;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	border: 0;
	border-radius: 8px;
	padding-top: 20px;
	padding-left: 50px;
}
.but_send{
	height: 70px;
	width: 100%;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	background-color: #ff2d2d;
	border:0 ;
	border-radius: 8px;
	color: white;
	margin-top: 60px;
}
.but_send:hover{
	background-color: white;
	color: #ff2d2d;
	border: 3px solid #ff2d2d;
}
.contact_text{
	height: 495px;
	background-color: #2d2d2d;
	padding-top: 150px;
	padding-left: 70px;
	margin-bottom: 120px;
}
.title_block_9{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: #d5d5d5;
}
.subtitle_block_9{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #d5d5d5;
	margin-top: 35px;
}
.footer{
	height: 110px;
	background-color: #313030;
}
.text_footer{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #a6a6a6;
	margin-top: 60px;
	text-align: center;
}
.photo_icon{
	width: 33px;
	height: 33px;
	margin-top: 50px;
	text-align: center;
	
}
.photo_icon.twiter{
	background-image: url(../img/footer_icon/twiter.png);
	background-size: cover;
	
}
.photo_icon.linkedin{
	background-image: url(../img/footer_icon/linkedin.png);
	background-size: cover;
	
}
.photo_icon.google{
	background-image: url(../img/footer_icon/google.png);
	background-size: cover;
	
}
.photo_icon.facebook{
	background-image: url(../img/footer_icon/facebook.png);
	background-size: cover;
	
}

.photo_icon.twiter:hover{
	background-image: url(../img/footer_icon/twiter_hover.png);
}
.photo_icon.linkedin:hover{
	background-image: url(../img/footer_icon/linkedin_hover.png);
}
.photo_icon.google:hover{
	background-image: url(../img/footer_icon/google_hover.png);
}
.photo_icon.facebook:hover{
	background-image: url(../img/footer_icon/facebook_hover.png);
}
.arrow{
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	z-index:99;
	background-size: 100%;
	background-repeat: no-repeat;
	border:0;
}
.arrow.prev{
	left: -12%;
	background-image: url(../img/arrow/prev_arrow.png)
}
.arrow.next{
	right:-12%;
	background-image: url(../img/arrow/next_arrow.png)
}

.worker_slider{
	width: 46%;	
	margin: 30px auto;
	height: 350px;
}

.worker_photo_slide{
	height: 350px;
	margin: 0px auto;
}
.block_6_slider{
	display: none;
}
@media screen and (min-width:992px) and (max-width: 1200px){
	.text_title {
		font-size:50px;
		letter-spacing: 5px;
	}
	.box{
		height: 200px;
	}
	.main_photo{
		height:400px;
	}
	.photo_worker{
		height: 160px;
	}
}
@media screen and (min-width:768px) and (max-width: 991px){
	.image_up{
		left: 90%;
	}
	.text_title {
		font-size:50px;
		letter-spacing: 5px;
		text-align: center;
	}
	.but_contact{
		margin-left: 35%;
	}
	.video{
		margin-top:50px;
	}
	.title_block_2, .subtitle_block_2{
		text-align:center;
	}
	.but_learn{
		margin-left: 35%;
	}
	.settings{
		margin-top:50px;
	}
	.penсil{
		margin-top:50px;
	}
	.box{
		height: 150px;
	}
	.main_photo{
		height: 290px;
	}
	.title_block_6{
		font-size: 20px;
		margin-bottom:15px;
	}
	.subtitle_block_6{
		font-size: 13px;
		margin-bottom: 15px;
	}
	.social_web{
		font-size: 14px;
		margin-bottom: 20px;
	}
	.photo_worker{
		margin-top: 30px;
		height: 130px;
	}
	.text_on_photo_worker{
		top:69%;
		height: 40px;
	}
	.text_on_worker{
		font-size: 16px;
	}
	.inp_block_7{
		margin-bottom: 30px;
	}
	.title_block_8, .subtitle_block_8 {
		text-align: center;
	}
	.line_block_8{
		margin-left: 40%;
	}
	.but_send{
		margin-bottom: 40px;
		width:80%;
		margin: 40px 10%;
	}
}
@media screen and (min-width:544px) and (max-width: 767px){
	.image_up{
		width: 40px;
		height: 40px;
		left: 87%;
	}
	.text_title {
		font-size:45px;
		letter-spacing: 4px;
		text-align: center;
	}
	.text_subtitle{
	text-align: center;
	font-size: 14px;
	margin-bottom:30px;
	}
	.but_contact{
		margin-left: 27%;
	}
	.title_block_2, .subtitle_block_2{
		text-align:center;
	}
	.but_learn{
		margin-left: 27%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.block_4_foto{
		display:none;
	}
	
	.photo_exmp{
		height: 300px;
	}
	.title_block_5{
		text-align: center;
	}
	.subtitle_block_5{
		text-align: center;
	}
	.line_block_5{
		margin-left:37%;
	}
	.block_6{
		display: none;
	}
	.block_6_slider{
		display: block;
	}
	.title_block_6_2{
		text-align: center;
	}
	.subtitle_block_6{
		text-align: center;
	}
	.social_web{
		margin-left: 5%;
	}
	.block_4_slider{
		display:block;
		height: 400px;
		margin: 30px auto;
		width: 80%;
	}
	.block_7{
		margin-top: 20px;
	}
	.inp_block_7{
		margin-bottom: 30px;
	}
	.title_block_8, .subtitle_block_8 {
		text-align: center;
	}
	.line_block_8{
		margin-left: 37%;
	}
}
@media screen and (min-width: 426px) and (max-width: 543px){
	.image_up{
		width: 35px;
		height: 35px;
		left: 86%;
	}
	.text_title {
		font-size:35px;
		letter-spacing: 5px;
		text-align: center;
	}
	.text_subtitle{
	text-align: center;
	font-size: 14px;
	margin-bottom:30px;
	}
	.but_contact{
		margin-left: 23%;
	}
	.title_block_2, .subtitle_block_2{
		text-align:center;
	}
	.but_learn{
		margin-left: 24%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.block_4_foto{
		display:none;
	}
	.block_4_slider{
		display:block;
		height: 270px;
		margin: 20px auto;
		width: 80%;
	}
	.photo_exmp{
		height: 260px;
	}
	.arrow{
		top: 30%;
	}
	.title_block_5{
		text-align: center;
	}
	.subtitle_block_5{
		text-align: center;
	}
	.line_block_5{
		margin-left:30%;
	}
	.block_6{
		display: none;
	}
	.block_6_slider{
		display: block;
	}
	.worker_slider{
		width: 76%;
	}
	.worker_photo_slide{
		width: 76%;
		margin: 0px auto;
	}
	.title_block_6_2{
		text-align: center;
	}
	.subtitle_block_6{
		text-align: center;
	}
	.social_web{
		margin-left: 5%;
	}
	.block_7{
		margin-top: 20px;
	}
	.inp_block_7{
		margin-bottom: 30px;
	}
	.title_block_8, .subtitle_block_8 {
		text-align: center;
	}
	.line_block_8{
		margin-left: 37%;
	}
	.text_footer{
		font-size: 15px;
		margin-top: 30px;
	}
}
@media screen and (min-width: 375px) and (max-width: 425px){
	.image_up{
		width: 30px;
		height: 30px;
		left: 83%;
	}
	.text_title {
		font-size:30px;
		letter-spacing: 5px;
		text-align: center;
	}
	.text_subtitle{
		text-align: center;
		font-size: 13px;
		margin-bottom:30px;
	}
	.but_contact{
		margin-left: 20%;
	}
	.title_block_2{
		font-size: 30px;
		text-align:center;
	}
	.subtitle_block_2{
		text-align:center;
		font-size: 13px;
	}
	.but_learn{
		margin-left: 20%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.title_icon_1{
		font-size: 20px;
	}
	.subtitle_icon_1{
		font-size: 14px;
	}
	.title_icon_2{
		font-size: 20px;
	}
	.subtitle_icon_2{
		font-size: 14px;
	}
	.block_4_foto{
		display:none;
	}
	.block_4_slider{
		display:block;
		height: 270px;
		margin: 20px auto;
		width: 80%;
	}
	.photo_exmp{
		height: 260px;
	}
	.arrow{
		top: 30%;
	}
	.title_block_5{
		text-align: center;
		font-size: 30px;
		margin-top: 40px;
	}
	.subtitle_block_5{
		text-align: center;
	}
	.line_block_5{
		margin-left:30%;
	}
	.block_6{
		display: none;
	}
	.block_6_slider{
		display: block;
	}
	.worker_slider{
		width: 76%;
	}
	.worker_photo_slide{
		width: 76%;
		margin: 0px auto;
	}
	.title_block_6_2{
		text-align: center;
		font-size: 25px;
	}
	.subtitle_block_6{
		text-align: center;
		font-size: 14px;
	}
	.social_web{
		margin-left: 1%;
		font-size: 14px;
	}
	.block_7{
		margin-top: 20px;
	}
	.title_block_7{
		font-size: 30px;
	}
	.inp_block_7{
		margin-bottom: 30px;
	}
	.title_block_8 {
		text-align: center;
		font-size: 30px;
		margin-top: 40px;
	}
	.subtitle_block_8 {
		font-size: 15px;
	}
	.line_block_8{
		margin-left: 30%;
	}
	.text_footer{
		font-size: 10px;
		margin-top: 40px;
	}
	.photo_icon{
		margin-top: 40px;
		height: 20px;
		width: 20px;
	}
}
@media screen and (min-width: 320px) and (max-width: 374px){
	.image_up{
		width: 30px;
		height: 30px;
		left: 80%;
	}
	.text_title{
		font-size:30px;
		letter-spacing: 5px;
		text-align: center;
	}
	.text_subtitle{
		text-align: center;
		font-size: 13px;
		margin-bottom:30px;
	}
	.but_contact{
		margin-left: 13%;
	}
	.title_block_2{
		font-size: 30px;
		text-align:center;
	}
	.subtitle_block_2{
		text-align:center;
		font-size: 13px;
	}
	.but_learn{
		margin-left: 13%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.title_icon_1{
		font-size: 20px;
	}
	.subtitle_icon_1{
		font-size: 14px;
	}
	.title_icon_2{
		font-size: 20px;
	}
	.subtitle_icon_2{
		font-size: 14px;
	}
	.block_4_foto{
		display:none;
	}
	.block_4_slider{
		display:block;
		height: 270px;
		margin: 20px auto;
		width: 80%;
	}
	.photo_exmp{
		height: 260px;
	}
	.arrow{
		top: 30%;
	}
	.title_block_5{
		text-align: center;
		font-size: 30px;
		margin-top: 40px;
	}
	.subtitle_block_5{
		text-align: center;
	}
	.line_block_5{
		margin-left:30%;
	}
	.block_6{
		display: none;
	}
	.block_6_slider{
		display: block;
	}
	.worker_slider{
		width: 76%;
	}
	.worker_photo_slide{
		width: 76%;
		margin: 0px auto;
	}
	.title_block_6_2{
		text-align: center;
		font-size: 25px;
	}
	.subtitle_block_6{
		text-align: center;
		font-size: 14px;
	}
	.social_web{
		margin-left: 1%;
		font-size: 14px;
	}
	.block_7{
		margin-top: 20px;
	}
	.title_block_7{
		font-size: 30px;
	}
	.inp_block_7{
		margin-bottom: 30px;
	}
	.title_block_8 {
		text-align: center;
		font-size: 30px;
		margin-top: 40px;
	}
	.subtitle_block_8 {
		font-size: 15px;
	}
	.line_block_8{
		margin-left: 30%;
	}
	.text_footer{
		font-size: 10px;
		margin-top: 40px;
	}
	.photo_icon{
		margin-top: 40px;
		height: 20px;
		width: 20px;
	}
}
@media screen and (min-width: 0px) and (max-width: 319px){
	.text_title{
		font-size:20px;
		letter-spacing: 5px;
		text-align: center;
	}
	.text_subtitle{
		text-align: center;
		font-size: 10px;
		margin-bottom:30px;
	}
	.but_contact{
		margin-left: 8%;
	}
	.title_block_2{
		font-size: 30px;
		text-align:center;
	}
	.subtitle_block_2{
		text-align:center;
		font-size: 13px;
	}
	.but_learn{
		margin-left: 8%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.title_icon_1{
		font-size: 20px;
	}
	.subtitle_icon_1{
		font-size: 14px;
	}
	.title_icon_2{
		font-size: 20px;
	}
	.subtitle_icon_2{
		font-size: 14px;
	}
	.block_4_foto{
		display:none;
	}
	.block_4_slider{
		display:block;
		height: 270px;
		margin: 20px auto;
		width: 80%;
	}

	.photo_exmp{
		height: 260px;
	}
	.arrow{
		top: 30%;
	}
	.title_block_5{
		text-align: center;
		font-size: 30px;
		margin-top: 40px;
	}
	.subtitle_block_5{
		text-align: center;
	}
	.line_block_5{
		margin-left:30%;
	}
	.block_6{
		display: none;
	}
	.block_6_slider{
		display: block;
	}
	.worker_slider{
		width: 90%;
	}
	.worker_photo_slide{
		height: 250px;
		width: 80%;
		margin: 0px auto;
	}
	.title_block_6_2{
		text-align: center;
		font-size: 25px;
	}
	.subtitle_block_6{
		text-align: center;
		font-size: 14px;
	}
	.social_web{
		margin-left: 13%;
		font-size: 14px;
	}
	.block_7{
		margin-top: 20px;
	}
	.title_block_7{
		font-size: 30px;
	}
	.inp_block_7{
		margin-bottom: 30px;
	}
	.title_block_8 {
		text-align: center;
		font-size: 30px;
		margin-top: 40px;
	}
	.subtitle_block_8 {
		font-size: 15px;
	}
	.line_block_8{
		margin-left: 30%;
	}
	.text_footer{
		font-size: 9px;
		margin-top: 40px;
	}
	.photo_icon{
		margin-top: 40px;
		height: 15px;
		width: 15px;
	}
}